html {
    background-color: white;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#c-application-header {
    position: absolute;
    top:0;
    width: 100%;
    background-color: transparent;
    z-index: 50000;
    height: 39px
}

#c-header-title-wrapper {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 4px;
    font: 14px/16px aerial, helvetica, sans-serif;
    z-index: 50001;
}

#c-header-title-text {
    font-weight: 800;
}

#c-header-title-text-OUR {
    color: #981b1e
}

#c-header-title-text-REPS {
    color: #112e51;
}

#c-header-title-text-ORG {
    font-size: 10px !important
}

#c-header-tabs-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 200px;
    z-index: 1000
}

.c-header-tabs {
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 4px;
    height: 38px;
    /*
    background-color: rgb(60, 60, 60);
    color: white;
*/
    margin-left: -5px;
    border-left: 2px solid black;
    width: 80px;
    text-align: center;
    font: 14px/16px aerial, helvetica, sans-serif;
}

.c-header-tabs div {
    margin: 0;
}

#c-header-tab-guide {
    font-weight: 800;
    color: white;
    background-color: #981b1e;
}

#c-header-tab-map {
    /*    background-color: white;*/
    font-weight: 600;
}

#c-header-tab-list {
    /*    color: white;*/
    /*    background-color: #112e51;*/
    font-weight: 600;
}

#c-header-tab-menu {
    width: 38px !important;
    padding-left: 12px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 4px !important;
/*    border-right: 2px solid black;*/
    height: 39px;
}

#c-header-tab-menu-dropdown {
    margin-right: -14px;
    margin-top: 16px;
}

.c-pages {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
/*    min-height: 400px;*/
    z-index: 1;
    text-align: center;
}

.c-pages-body {}

.c-pages-banner {
    width: 100%;
    height: 50px;
    z-index: 500;
}

#c-page-map-headerHelper-left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 39px;
    width: calc(100% - 230px);
    z-index: 40000;
    border-bottom: 2px solid black;
}
#c-header-tab-menu{
    background-color: white
}

#c-page-guide-banner {
    background-color: #981b1e
}


#c-page-list-banner {
    background-color: #112e51;
    height: auto;
}

#c-page-guide {
    display: inherit;
    background-color: white;
}

#c-page-guide-body {}

#c-page-map {
    display: none;
    background-color: white;
    top: 0px !important;
    z-index: 10;
}

#c-page-map-body {}

#c-page-list {
    display: none;
    background-color: white;
    /* center vertical */
}

#c-page-list-body {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#c-page-list-content {
    width: 980px;
    min-height: 200px;
    padding: 15px;
    text-align: left;
}

#c-page-list-banner-body {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
#c-page-list-banner-content {
    width: 980px;
    min-height: 20px;
    text-align: center;
}

#c-page-list-banner-content-title {
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

#c-page-list-banner-content-subTitle {
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: 10px
}

.c-page-list-banner-content-body-panel {
    width: 32%;
    height: auto;
    display: inline-block;
    padding: 15px;
    margin: 0;
    vertical-align:top;
    text-align: left;
    
}

#c-page-list-banner-content-body-panel2{
    word-wrap: break-word;
}

#c-page-list-banner-content-body-panel2 .form-group input{
    display: inline-block;
/*    width: calc(60% - 10px);*/
    background-color: rgb(210,210,210);
    margin-bottom: 15px;
}

#c-page-list-banner-content-body-panel2 .form-group button{
    display: inline-block;
    width: calc(50% - 2px);
}

#c-input-shareableUrl{
    cursor: default
}

#c-page-list-banner-content-body-panel1 button{
    width: calc(100% - 0px);
}

#c-page-list-banner-content-body-panel1 .c-page-list-panel2-text div{
    display: inline-block;
    vertical-align:top;
}

#c-page-list-banner-content-body-panel1 .c-page-list-panel2-text{
    cursor: pointer
}

#c-page-list-banner-content-body-panel1 .c-page-list-panel2-text div:nth-child(1){
    margin-top: 0.5px;
}

#c-page-list-banner-content-body-panel1 .c-page-list-panel2-text div:nth-child(2){
    width: calc(100% - 20px);
    padding-left: 2px
}

#c-page-list-banner-content-body-panel3 {
}

.c-page-list-panel2-text {
    margin-top: 15px;
    color: #dce4ef;
    padding-left: 1px
}


#c-page-list .repContactaddressDiv{
    text-align: left;
    font-weight: 600;
}

/*rep css for page list*/

#c-page-list .repGroupTitle {
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}
#c-page-list .repCardWrapper {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
#c-page-list .repCard {
    display: inline-block;
    padding: 20px;
    border-top: 2px solid black;
/*    border-top: 2px solid #0071bc;*/
/*
    border: 4px solid #0071bc;
    border-radius: 40px;
*/
    width: auto;
    text-align: left;
}
#c-page-list .repImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align:top;
    margin-right: 20px;
    
}
#c-page-list .repImage img {
    max-width: 100px;
    background-color: lightgray
}
#c-page-list .repContentWrapper {
    display: inline-block;
    vertical-align:top;
    max-width: 530px;
}
#c-page-list .repInfoWrapper {
    display: inline-block;
    vertical-align:top;
    width: 250px
}
#c-page-list .repName {
    font-weight: 600;
}
#c-page-list .repContactsWrapper {
    display: inline-block;
    vertical-align:top;
    margin-left: 30px;
    width: 250px;
    overflow-wrap: break-word;
    word-break: break-word;
}
#c-page-list .repSupplementalInfo {
    display: inline-block;
    vertical-align:top;
    width: 100%;
/*    overflow-wrap: break-word;*/
    padding-top: 5px;
    margin-top: 20px;
    border-top: 1px solid #aeb0b5;
    color: #5b616b;
}
#c-page-list .repSupplementalTitle {
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 25px;
}
#c-page-list .repSupplementalTitle div {
    text-align: justify !important;
    display: inline-block;
    max-width: 690px;
    color: #5b616b;
}
#c-page-list .repContactChannels {
}
#c-page-list .repOffice {
    font-size: 22;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}

#c-page-list-mapFrame{
    height: 155px;
    width: 100%;
    cursor: pointer !important;
}
#c-page-map .c-address-header{
    display: none;
}

#c-page-map .supplemental{
    display: none !important;
}

/*rep css for page map*/

#c-page-map #c-page-map-2ListButton{
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

#c-page-list #c-page-map-2ListButton{
    display: none;
}

#c-page-map .repGroupTitle {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    border-top: 2px solid black;
}
#c-page-map .repCardWrapper {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}
#c-page-map .repCard {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #323a45;
    width: 100%;
/*    border-top: 2px solid black;*/
/*    border-top: 2px solid #0071bc;*/
/*
    border: 4px solid #0071bc;
    border-radius: 40px;
*/
    width: auto;
    text-align: left;
}
#c-page-map .repImage {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    display: none;
/*    display: inline-block;*/
    vertical-align:top;
    margin-right: 3px;
    
}
#c-page-map .repImage img {
    max-width: 30px;
    background-color: lightgray
}
#c-page-map .repContentWrapper {
    display: inline-block;
    vertical-align:top;
}
#c-page-map .repInfoWrapper {
    display: inline-block;
    vertical-align:top;
    width: 250px
}
#c-page-map .repName {
    font-weight: 600;
}
#c-page-map .repContactsWrapper {
    display: none;
}
#c-page-map .repContactPhones {
    display: none;
}
#c-page-map .repCard .repContactAddress {
    display: none;
}
#c-page-map .repContactaddressDiv{
    text-align: left;
    padding: 10px;
    margin-top: -10px;
    display: inline-block;
}
#c-page-map .repContactChannels {
}
#c-page-map .repOffice {
    font-size: 14;
    color: black;
    font-weight: 600;
    width: 100%;
    display: inline-block;
/*    text-decoration: underline*/
}

#c-page-map .repNameWrapper {
    display: inline-block;
}

#c-page-map .repNameWrapper .glyphicon-user{
    color: #aeb0b5
}



#c-page-map-banner {
    background-color: white;
/*
    border-top: 2px solid black;
    border-bottom: 2px solid gray;
*/
    height: 0px !important;
}

#c-page-map-panel{
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    top: 39px;
    left: 0;
    width: 304px;
    height: calc(100vh - 41px);
    text-align: left;
}

#c-page-map-panel-title{
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 600
}

#c-page-map-generatedReps{
    width: 100%
}
#c-page-map-placeholderText{
    text-align: left;
    padding: 10px
}
#c-page-map-mapFrameWrapper{
    background-color: lightgray;
    position: absolute;
    top: 0px;
    right: 0;
    width: calc(100vw - 320px);
    height: 100vh;
/*    height: calc(100vh - 67px);*/
    border-left: 2px solid gray;
/*
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
*/
}

#c-page-map-mapFrame .leaflet-top{
    margin-top:40px;
}
