html {}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#application-header {
    width: 100%;
    background-color: white;
}

#header-title-wrapper {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 4px;
    font: 14px/16px aerial, helvetica, sans-serif;
}

#header-title-text {
    font-weight: 800;
}

#header-title-text-OUR {
    color: #981b1e
}

#header-title-text-REPS {
    color: #112e51;
}

#header-title-text-ORG {
    font-size: 10px !important
}

#header-tabs-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 200px;
    z-index: 1000
}

.header-tabs {
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 4px;
    height: 25px;
    /*
    background-color: rgb(60, 60, 60);
    color: white;
*/
    margin-left: -5px;
    border-left: 2px solid black;
    width: 60px;
    text-align: center;
    font: 14px/16px aerial, helvetica, sans-serif;
}

.header-tabs div {
    margin: 0;
}

#header-tab-guide {
    font-weight: 600;
}

#header-tab-map {
    /*    background-color: white;*/
    font-weight: 600;
}

#header-tab-list {
    color: white;
    background-color: #112e51;
    font-weight: 800;
}

#header-tab-menu {
    width: 10px !important;
    padding-left: 10px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 4px !important;
}

.pages {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    min-height: 400px;
    z-index: 1;
}

.pages-body {}

.pages-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 500;
}

#page-guide-banner {
    background-color: #981b1e
}

#page-map-banner {
    background-color: white;
    border-top: 2px solid black;
}

#page-list-banner {
    background-color: #112e51
}

#page-guide {
    display: none;
    background-color: white;
}

#page-guide-body {}

#page-map {
    display: none;
    background-color: white;
}

#page-map-body {}

#page-list {
    display: inherit;
    background-color: white;
}

#page-list-body {}
